<head>
	
</head>
<body>
<div class="jugadores">
	<form method="post"  action="/JuegoDePoker/DetalleCartas">
		<input type="text" name="Nombre1" placeholder="jugador 1" required="required" />
		<input type="text" name="Nombre2" placeholder="jugador 2" required="required" />
		<input type="text" name="Nombre3" placeholder="jugador 3" required="required" />
		<input type="text" name="Nombre4" placeholder="jugador 4" required="required" />
		<input type="text" name="Nombre5" placeholder="jugador 5" required="required" />
		
		<button type="submit" class="btn btn-primary ">Jugar</button>
	</form>
</div>
</body>